.wrapper {
  font-family: $main-font;
}

.wrapper--block {
  overflow-y: scroll;
  position: fixed;
}

.wrapper__header {
  width: 100%;
  display: flex;
  padding-bottom: 240px;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/promo.jpg");
  background-color: $gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper__main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__footer {
  margin-top: 250px;
}

@media (max-width: $tablet-width) {
  .wrapper__header {
    background-image: none;
    background-color: $white;
  }

  .wrapper__header {
    padding-bottom: 0;
  }

  .wrapper__footer {
    margin-top: 155px;
  }
}

@media (max-width: $mobile-width) {
  .wrapper__footer {
    margin-top: 116px;
  }
}
