// Colors
$white: #ffffff;
$black: #000000;
$dark: #1f1f1f;
$gray: #1c1c1c;
$gray-dark: #131314;
$gray-light: #f6f7f9;
$gray-lighten: #c9ccd4;
$gray-once: #48494d;
$turquoise: #0ad9c6;
$turquoise-dark: #19bbab;

// font

$main-font: "Open Sans", "Arial", sans-serif;

// breakpoints
$desktop-width-one: 1070px;
$tablet-width: 1023px;
$mobile-width: 767px;
